<form action="" method="post">
    {{#with data}}
        <label>Altura:</label>
        <input value="{{height}}" id="height" name="height" /><br/><br/>
        <label>Peso:</label>
        <input value="{{weight}}" id="weight" name="weight" /><br/><br/>
        <button type="submit">Calcular</button>
        {{#if imc}}
            <hr />
            {{imc}} {{imcDescription}}
        {{/if}}
    {{/with}}
</form>